@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

:root {
    --bg: #000000;
    --bg-card: #0E1218;
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-card);
    display: flex;
    justify-content: space-evenly;
}

h1{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--text);
}

h2{
    margin: 25px;
}

h3{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    font-weight: 400;

    color: var(--text);
}

span{
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: 400;

    margin: 0.25rem;

    color: var(--text);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.5rem;
    height: 46.5rem;
    border-radius: 50px;
    background-color: #000000;
    position: relative;
    animation: move 4s infinite 2s;
}

.wrapper{
    width: 25.5rem;
    height: 44.25rem;
    border-radius: 50px;
    display: flex;
    flex-direction:column;
    background-color:var(--bg-card);
}

.nameText{
    display: flex;
    align-items: center;
    font-family: 'Prompt',sans-serif;
    font-size: 24px;
    font-weight: 400;   

    color: var(--text);
}

.imgTitle{
    width: 4rem;
    height: 4rem;
    padding: 8px;
    margin-right: 2rem;
    border: 1px solid #fff;
    border-radius: 50px;
}

.photoContent{
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.contentGitHub{
    width: 12.7rem;
    height: 10rem;
    display: flex;
    box-shadow: 0px 0px 5px 2px var(--border-button);
    background:linear-gradient(180deg, #000000 3.65%, rgba(70, 69, 69, 0.72) 53.65%, rgba(62, 56, 56, 0.42) 100%);
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    z-index: 2;
    

    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.footerContent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.25rem;
    color: var(--text);
}

.footerCard{
    width: 1.75rem;
    margin-right: 1.25rem;
    height: 2.1rem;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.customCard{
    width: 14.5rem;
    height: 3.7rem;
    border-radius: 15px;
    border: 2px solid #1A1A1A;
    margin-top: 1rem;
    cursor: pointer;
    background-color: var(--bg);
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    font-weight: 400;

    color: var(--text);
}

.customCard:hover{
    background-color: #0c0c0c;
}

.box2{
    display: flex;
    margin-top: 20rem;
}

@keyframes move {
    0%   {top: 0px;}
    25%  {top: 150px;}
    75%  {top: 50px}
    100% {top: 0px;}
}

@keyframes back {
    100%{
        bottom: 100px;
    }
    50%{
        bottom: 50px;
    }
    0%{
        bottom: 0px;
    }
}